<h1>Welcome</h1>

<p>Use <em>Done Is Good!</em> to help track your goals, task by task.</p>

<% if logged_in? %>
    <%= link_to "New Task", new_task_path, class: "btn btn-outline-dark" %> 
    <%= link_to "New Goal", new_goal_path, class: "btn btn-outline-dark" %>

<% else %>
    <%= link_to "Sign Up", signup_path, class: "btn btn-outline-dark" %> OR <%= link_to "Log In", login_path, class: "btn btn-outline-dark" %>
<% end %>
