<h1>Tasks</h1>

<% @tasks.each do |task| %>
    <%= task.description %>
    <% if task.done %>
        <% finished = "Yes" %>
    <% else %>
        <% finished = "No" %>
    <% end %>
    Finished? <%= finished %>
<% end %>