<h1>Tasks</h1>

<ul>
<% @tasks.each do |task| %>
    <li>
    <strong>Task:</strong> <%= link_to task.description, task_path(task) %>
    <br>
    <strong>Belongs to goal:</strong> <%= task.goal.name %>
    <br>
    <% if task.done %>
        <% finished = "Yes" %>
    <% else %>
        <% finished = "No" %>
    <% end %>
    <strong>Done?</strong> <%= finished %>
    </li>
<% end %>
</ul>