<h1>Tasks</h1>

<ul>
<% @tasks.each do |task| %>
   
        <li class = "<%= 'finished' if task.done %>">
        <strong>Task:</strong> <%= link_to task.description, task_path(task) %>
        <br>
        <strong>Belongs to goal:</strong> <%= link_to task.goal.name, goal_path(task.goal) %>
        <br>
        </li>
    
<% end %>
</ul>