<h2> Task: <%= @task.description %> </h2>

<h5>
    <% if @task.done %>
        <% finished = "Yes" %>
    <% else %>
        <% finished = "No" %>
    <% end %>
    Finished? <%= finished %>
</h5>

<br><br>
<%= link_to "Edit Task", edit_task_path(@task), class: "btn btn-outline-dark" %>  

<%= link_to "Delete Task", task_path(@task), method: :delete, class: "btn btn-outline-dark" %>