<h1>Goals</h1>

<br>
<h5>In progress:</h5>
<% @unfinished.each do |goal| %>
    <%= link_to goal.name, goal_path(goal), class: "btn btn-info btn-lg" %>
    <br><br>
<% end %>

<br>
<h5>Accomplished!</h5>
<% @finished.each do |goal| %>
    <%= link_to goal.name, goal_path(goal), class: "btn btn-outline-dark btn-lg" %>
    <br><br>
<% end %>


