<h1>Goals</h1>

<% @goals.each do |goal| %>
    <%= link_to goal.name, goal_path(goal), class: "btn btn-outline-dark btn-lg" %>
    <br>
    <% if goal.accomplished %>
        <% finished = "Yes" %>
    <% else %>
        <% finished = "No" %>
    <% end %>
    Accomplished? <%= finished %>
    <br><br>
<% end %>


