body {
    background-color:#e6ebf2;
    color: #333;
    font-family: Sans-Serif;
    line-height: 18px;
  }

  a:link, a:visited {
    color: #1d2e1e;
  }

  .container ul li {
    list-style-type: none;
    background: #ffffff;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
  }

  .container {
    background-color: #96909e;
    color: #2e065e;
  }