body {
    background-color:#e6ebf2;
    color: #333;
    font-family: Sans-Serif;
    line-height: 18px;
  }

  a:link, a:visited {
    color: #1d2e1e;
  }

  .container ul li {
    list-style-type: none;
    background: #ffffff;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #2f2240;
  }

  .container {
    background-color: #96909e;
    color: #2e065e;
    margin: 16px auto;
    box-shadow: 10px 10px 5px #2f2240;
  }

  .field_with_errors input {
    border: 1px solid red;
  }

  .error_list {
    color: red;
    font-style: italic;
  }

  .flash_errors {
    color: red;
    font-style: italic;
  }

  .finished {
    text-decoration: line-through;
  }

  ul li.finished {
    background-color: #4d4c49;
    color: #1d2e1e;
    box-shadow: none;
    margin-bottom: 10px;
  }